textarea {
  resize: none;
  text-align: center;
}

input,
input:focus-visible,
div.CodeMirror,
textarea {
  border: none;
  outline: none;
}

div.btn-container {
  display: flex;
  justify-content: center;
  gap: 2em;
  margin-top: 2em;
  & > button {
    flex: none;
  }
}
