nav {
    background-color: whitesmoke;
    border-bottom: 2px solid grey;
    padding: 0.8em;
    display: flex;
    justify-content: space-between;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    a.btnLike {
        padding: 0.5em;
        border: 2px solid gray;
        border-radius: 5em;
      }
    .nav-center {
      align-self: center;

      &>ul {
        display: flex;
        justify-content: center;
        gap: 2em;
      }
    }

    .nav-right {
      ul {
        display: flex;
        flex-direction: row;
        gap: 1em;
        align-items: center;
      }
      a.new-post {
        display: inline-block;
        background: url("../assets/post.png") no-repeat;
        height: 32px;
        width: 32px;
      }
    }
}

.content {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  background: #fff
}

/*
.content {
  box-shadow: 10px 0 10px -10px rgba(0, 0, 0, 0.3),
      -10px 0 10px -10px rgba(0, 0, 0, 0.3);
  padding: 4em;
  width: 75%;
  margin: 0 auto;
  height: 100%;
}
*/
.remove-content {
  box-shadow: none;
  padding: 0;
  width: 100%;
}
