.banner {
/*  background-image: url(""); */
    width: 100vw;
  height: 30vw;
  background-image: url("../../assets/banner-background.png");
  & > div {
    height: 90%;
    display: flex;
    .first-half {
      width: 50%;
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 1em;
     div:first-child {
       font-weight: bold;
       font-size: clamp(1rem, 4vw, 3.5rem);
     }
     div:nth-child(2) {
       font-size: clamp(0.7rem, 2.5vw, 2rem);
     }
  }

  .second-half {
    height: 100%;
    width: 50%;
    background-image: url("../../assets/loom-banner.png");
    background-repeat: no-repeat;
    background-size: contain;

  }
}
 img {
    width: clamp(20px, 8vw, 150px);
    margin: 0 0 2vw 2vw;
  }
  }

