.banner {
/*  background-image: url(""); */
  width: 100%;
  height: 25em;
  background-color: #e2e2e2;
  background-image: url("../../assets/loom-banner.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: auto 100%;



  div.motto {
    display: flex;
    height: 85%;
    margin-left: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
    text-align: left;
    div:first-child {
      font-weight: bold;
      font-size: 3rem;
    }
    div:nth-child(2) {
      font-size: 2rem;
    }
  }
  img {
    width: 5rem;
    margin-left: 2rem;
  }

}

@media(max-width: 1100px) {
  .banner {
    height: 45em;
    background-size: auto 55%;
    background-position: center 65%;
    text-align: center;
    div.motto {
      align-items: center;
      justify-content: flex-start;
      div:first-child {
        font-size: 4rem;
        padding-top: 0.7em;
      }
      div:nth-child(2) {
        font-size: 3rem;
      }
    }
    img {
      width: 10rem;
    }
  }
}





.PostDemoSection {
  height: 30vh;
}

.markdown {
  font-size: 1.3rem;
  background-color: #e2e2e2;
  border: 1px solid #333333;
  text-align: center;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }


  .mdSplit {
    display: flex;
    align-items: stretch;
    div {
      flex: 1;
      border-radius: 7px;
      border: 2px solid #333333;
      padding: 1rem;
      margin: 1rem;
      margin-bottom: 2em;
    }
    div:nth-child(2) {
      text-align: left;
    }
    .arrow-down {
      padding: 0;
      border-radius: 0;
      position: relative;
      width: 4px;
      height: 15px;
      background: black;
      margin: 1em;
      margin-left: 2.5em;
    }
    .arrow-down::after {
      content: "";
      border-radius: 0;
      position: absolute;
      left: 50%;
      bottom: -6px;
      transform: translateX(-50%);
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 8px solid black;
    }
  }
  @media(max-width: 1100px) {
    .mdSplit {
      flex-direction: column;
    }
  }
}

